# Xcode
xcuserdata/
*.xcuserstate
*.xcodeproj
*.xcworkspace
project.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

## Tuist
Derived/

# SPM
.swiftpm/
.build/

# macOS
.DS_Store

# Build products
*.ipa
*.app
*.dSYM.zip
*.dSYM
