<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.bonjur.featuremodule</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.frameworkBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates two iOS framework targets: FeatureName and FeatureNameImpl, each in its own folder.</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.iosLibraryOrFrameworkTarget</string>
			<key>ProductName</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
				<key>SWIFT_VERSION</key>
				<string>5.10</string>
			</dict>
		</dict>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.iosLibraryOrFrameworkTarget</string>
			<key>ProductName</key>
			<string>___PACKAGENAME___Impl</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
				<key>SWIFT_VERSION</key>
				<string>5.10</string>
			</dict>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>framework</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___Impl/DI/___PACKAGENAME:c99ExtIdentifier___ModuleConfigurator.swift</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/DI</string>
			<key>Path</key>
			<string>DI/ModuleConfigurator.swift</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/DI/DependencyContainer.swift</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/DI</string>
			<key>Path</key>
			<string>DI/DependencyContainer.swift</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/DI/ModuleImpl.swift</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/DI</string>
			<key>Path</key>
			<string>DI/ModuleImpl.swift</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME:c99ExtIdentifier___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosLibraryOrFrameworkTarget</string>
			</array>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Group</key>
			<string>___PACKAGENAME___</string>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>___PACKAGENAME:c99ExtIdentifier___Impl.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.iosLibraryOrFrameworkTarget</string>
			</array>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
			<key>Group</key>
			<string>___PACKAGENAME___Impl</string>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>___PACKAGENAME___/___PACKAGENAME___Module.swift</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___</string>
			<key>Path</key>
			<string>___PACKAGENAME___Module.swift</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___/README.md</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___</string>
			<key>Path</key>
			<string>README.md</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/README.md</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl</string>
			<key>Path</key>
			<string>README.md</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/Resources/___PACKAGENAME___Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/Resources</string>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/Resources/az.lproj/___PACKAGENAME___Localizable.strings</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/Resources</string>
			<key>Path</key>
			<string>az.lproj/___PACKAGENAME___Localizable.strings</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/Resources/ru.lproj/___PACKAGENAME___Localizable.strings</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/Resources</string>
			<key>Path</key>
			<string>ru.lproj/___PACKAGENAME___Localizable.strings</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>___PACKAGENAME___Impl/Resources/en.lproj/___PACKAGENAME___Localizable.strings</key>
		<dict>
			<key>Group</key>
			<string>___PACKAGENAME___Impl/Resources</string>
			<key>Path</key>
			<string>en.lproj/___PACKAGENAME___Localizable.strings</string>
			<key>TargetIndices</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___/README.md</string>
		<string>___PACKAGENAME___/___PACKAGENAME___Module.swift</string>
		<string>___PACKAGENAME___Impl/README.md</string>
		<string>___PACKAGENAME___Impl/DI/___PACKAGENAME:c99ExtIdentifier___ModuleConfigurator.swift</string>
		<string>___PACKAGENAME___Impl/DI/DependencyContainer.swift</string>
		<string>___PACKAGENAME___Impl/DI/ModuleImpl.swift</string>
		<string>___PACKAGENAME___Impl/Resources/___PACKAGENAME___Assets.xcassets</string>
		<string>___PACKAGENAME___Impl/Resources/en.lproj/___PACKAGENAME___Localizable.strings</string>
		<string>___PACKAGENAME___Impl/Resources/ru.lproj/___PACKAGENAME___Localizable.strings</string>
		<string>___PACKAGENAME___Impl/Resources/az.lproj/___PACKAGENAME___Localizable.strings</string>
		<string>___PACKAGENAME___Impl/UI/TempView.swift</string>
		<string>___PACKAGENAME___Impl/Extensions/Temp+.swift</string>
		<string>___PACKAGENAME___Impl/Helpers/TempHelper.swift</string>
		<string>___PACKAGENAME___Impl/Presentation/TempScreen.swift</string>
		<string>___PACKAGENAME___Impl/Data/DataSources/TempDataSource.swift</string>
		<string>___PACKAGENAME___Impl/Data/DTOs/TempDTO.swift</string>
		<string>___PACKAGENAME___Impl/Data/EndPoint/TemEndPoint.swift</string>
		<string>___PACKAGENAME___Impl/Domain/Models/TemModel.swift</string>
		<string>___PACKAGENAME___Impl/Domain/UseCases/TemUseCase.swift</string>
	</array>
</dict>
</plist>
