//
//  Prod.xcconfig
//  App
//
//  Created by Huseyn Hasanov on 24.11.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:/$()/api.unify.co
ENVIRONMENT = prod
APP_NAME = Unify
BUNDLE_ID = com.unify.app.prod
