//
//  Staging.xcconfig
//  App
//
//  Created by Huseyn Hasanov on 01.12.25.
//  Copyright © 2025 Unify. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = http:/$()/66.70.191.74:8080/
ENVIRONMENT = staging
APP_NAME = Unify-staging
BUNDLE_ID = com.unify.app.staging

MSAL_CLIENT_ID = 2e87ef5d-44d1-417f-832f-335e3b02a635
MSAL_AUTHORITY_URL = https:/$()/login.microsoftonline.com/organizations
MSAL_REDIRECT_URI = msauth.com.unify.app.staging:/$()/auth
MSAL_URL_SCHEME = msauth.com.unify.app.staging
