//
//  Staging.xcconfig
//  App
//
//  Created by Huseyn Hasanov on 01.12.25.
//  Copyright © 2025 Unify. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:/$()/api.unify.co
ENVIRONMENT = STAGING
APP_NAME = Unify-staging
BUNDLE_ID = com.unify.app.staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Staging
