//
//  Test.xcconfig
//  App
//
//  Created by Huseyn Hasanov on 24.11.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:/$()/test.api.bonjur.co
ENVIRONMENT = TEST
APP_NAME = Unify-test
